*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(218, 218, 218);
}

img{
    max-width: 100%;
}

:root{
    --plava: rgb(11, 18, 51);
    --plava1: rgb(4, 8, 31);
    --svetlo-plava: rgb(152, 170, 248);
    --svetlo-crvena: rgb(192, 33, 33);
    --crvena: rgb(146, 23, 23);
    --forma: rgb(180, 72, 10);
}

header{
    height: min-content;
    /* background-color: var(--plava1); */
    opacity: 1;
    background-image: linear-gradient(0deg,rgba(4, 8, 31, 1), rgba(11, 18, 51, .8)), url("../img/pozadina1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.budget-cards{
    width: 100%;
}

.budget-cards div{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    color: white;
    align-items: center;
    cursor: pointer;
    height: 4em;
    font-size: 1.2em;
    border-radius: 10px;
}

.main-card{
    cursor: pointer;
    position: relative;
    border-top: 4px solid white;
}

.budget-card p:nth-child(1){
    font-weight: 600;
}

.budget-cards div:nth-child(1){
    margin-bottom: .5em;
    background-color: var(--plava);
}

.budget-cards div:nth-child(2){
    background-color: var(--crvena);
}

.budget-card:nth-child(2) p:nth-child(2){
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.expenses-percentage{
    width: max-content;
    position: absolute;
    right: 2%;
    background-color: var(--svetlo-crvena);
    padding: .5em;
    border-radius: 5px;
    font-size: .7em;
}

.form{
    background-color: var(--plava1);
}

form{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;   
    display: flex;
    /* background-color:var(--plava1); */
    padding: 1em;
    flex-direction: column;
    width: 100%;
    gap: .5em;
}

.form-input{
    /* box-shadow: rgba(248, 248, 248, 0.45) 0px 25px 20px -20px; */
    font-weight: 900;
    border-radius: 10px;
    border: 4px solid var(--svetlo-crvena);
    padding: 1em;
    width:100%;
    transition: .1s ease;
}

.form-input:is(:active, :focus){
    border: 4px solid var(--crvena);
    outline: none;
}

#submitBtn{
    box-shadow: rgba(248, 248, 248, 0.45) 0px 25px 20px -20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--svetlo-crvena);
    color: white;
    align-self: center;
    /* width: max-content; */
}

#submitBtn ion-icon {
    align-self: center;
    font-size: 1.4em;
    --ionicon-stroke-width: 5em;
  }

  /* MAIN */

  main{
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: flex-start; 
    gap: 1em;
    align-items: center;
    padding: 1em 0;
    color: white; 
    text-align: left;
  }

.main-cards{
    width: 85%;
    border-radius:10px;
    overflow: hidden;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* OBRISI BTN CTA */
.obrisiBtn{
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    right: -100%;
    overflow: hidden;
    font-size: 1.5em;
    position: absolute;
    border-left: 3px solid black;
    transition:  .2s ease-in-out;
}

/* .main-card.active .obrisiBtn{
    right: 0;
    background-color: white;
    color: black;
} */

.main-card:is(:focus, :hover, :active) .obrisiBtn{
    right: 0;
    width: 30%;
    background-color: white;
    color: black;
}

.main-card:is(:focus, :hover, :active) .obrisiBtn:is(:focus, :hover, :active){
    background-color: black;
    color: white;
}

.main-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    background-color: white;
    border-top: 3px solid black;
    color: black;
    height: min-content;
}

.main-card p{
    font-weight: 400;
}

.main-cards h1{
    margin-left: .5em;
}

.income-table{
    background-color: var(--plava);
    color: white;
}

/* .main-card:nth-child(even){
    background-color: var(--svetlo-plava);
    color: var(--plava);
} */
.expenses-table{
    background-color: var(--crvena);
    color: white;
}

/* .expenses-table .main-card:nth-child(even){
    background-color: var(--svetlo-crvena);
    color: white;
} */

.expenses-table .table-percentage{
    background-color: white;
    padding: .3em .7em;
    color: var(--crvena);
    font-size: .8em;
    font-weight: 900;
    border-radius: 5px;
}


@media(min-width:550px){
    header h1{
        font-size: 3em;
    }

    .budget-cards{
        display: flex;
        gap: 1em;
        flex: 1;
        justify-content: center;
        /* flex-direction: row; */
    }

    /* .main-card.active .obrisiBtn{
        width: 10em;
        right: 0;
    } */

    .budget-card{
        justify-content: space-between;
        width: 100%;
    }

    .budget-cards div{
        font-size: 1em;
    }

    .form{
        display: flex;
        justify-content: center;
        background-color: white;
    }
    

    form{
        flex-direction: row;
        /* width: 97%; */
    }

    #budget-options{
        width: min-content;
    }

    #submitBtn{
        width: min-content;
    }

    #submitBtn p{
        display: none;
    }

    main{
        padding: 1em;
        flex-direction: row;
        align-items: flex-start;
    }
}
